:root {
    --boxWidth: 500px;
    --boxHeight: 500px;
    --searchBoxHeight: 440px;
    --primaryTextColor: rgb(34, 31, 25);
    --bodyTextStyle: 18px;
}

body {
    background-color: rgb(241, 241, 241);
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
}

.draggableStyle {
    padding: 20px;
    color: rgb(34, 31, 25);
    background-color: rgb(120, 248, 150);
    cursor: grab;
    width: 100px;
    font-family: Sans-Serif;
    text-align: center;
    margin: 15px 15px 15px 15px;
}

.plannerStyle {
    border-style: solid;
    background-color: rgb(241, 241, 241);
    height: 500px;
    width: 500px;
}

.plannerScrollStyle{
    overflow-Y: scroll;
    overflow-X: hidden;
    height: var(--boxHeight);
    width: var(--boxWidth);
}
.searchScrollStyle{
    overflow-Y: scroll;
    overflow-X: hidden;
    height: var(--searchBoxHeight);
    width: var(--boxWidth);
}

.searchbarStyle{
    padding: 10px;
    float: left;
    width: 200px;
}

.headerStyle {
    color: var(--primaryTextColor);
    font-family: Sans-Serif;
    font-size: 28px;
}

.textStyle{
    color: var(--primaryTextColor);
    font-family: Sans-Serif;
    font-size: var(--bodyTextStyle);
    font-weight: bold;
}

.majorDecideStyle{
    padding: 3px; 
    font-size: 16px;
}
  